<ion-view>
  <ion-nav-bar class="header-cinza" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="center">
    <ion-nav-back-button id="black-back" class="no-text" style="margin-top:1.75%;"></ion-nav-back-button>



    <ion-nav-title side="left">
      <div style="float:left;">
        <a>Editar Perfil</a>
      </div>
    </ion-nav-title>

    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-android-more-vertical" style="color:#808080;" menu-toggle="right"></button>
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content scroll="true" overflow-scroll="false">
      <form name="userForm" novalidate class="prof">
        <div class="profile-image">
          <img class="pic-profile" ng-src="data:image/jpeg;base64,{{user.image_profile}}"  err-src="/img/ionic.png" />
          <!-- <a ng-click="selImages()" class="icon ion-plus-round add-image">
          </a> -->
          <a ng-click="alterarFoto()" class="add-prof-image">
            Altere sua foto
          </a>


        </div>
        <div class="list" style="margin-top:30px;">
          
          <label for="" class="item item-input">
            <input placeholder="Digite seu nome" hightlight-color="dark" ng-required type="text" ng-model="user.name" required>
          </label>

          <div>
            <label class="item item-input" ng-show="userForm.name.$error.minlength">
              <p  class="help">Username is too short.</p>
            </label>
          </div>


          <label for="" class="item item-input" style="margin-top:10px;">
            <input placeholder="Digite seu e-mail" ng-required hightlight-color="dark" type="text" ng-model="user.email" required>
          </label>
          
          <div>
            <label class="item item-input" ng-if="userForm.email.$error.email">
              <p  class="help-block">Informe um email válido.</p>
            </label>
          </div>


          <label for="" class="item item-input" style="margin-top:10px;">
            <input placeholder="Digite sua senha" ng-required hightlight-color="dark"  type="password" ng-model="user.password" required>
          </label>

          
          <label for="" class="item item-input" style="margin-top:10px;">
            <input placeholder="Confirme sua senha" ng-required hightlight-color="dark"  type="password" ng-model="user.password_confirmation" required>
          </label>
          


          <input style="background-color: #1C8BB3;"ng-disabled="userForm.$invalid" type="submit" class="button button-dark button-block icon-left " ng-click="updateProfile(user)" value="Atualizar" />
        </div>
      </form>

    </div>

    <!-- Div para login com rede social  -->
  </ion-content>
</ion-view>
